.circular-input {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

.circular {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2rem;
}



.circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
